<mat-spinner *ngIf="isLoading">

</mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ post.title }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      {{ post.content }}
    </mat-panel-description>
    <mat-action-row>
      <a [routerLink]="['/edit',post.id]" mat-raised-button color="primary">Edit</a>
      <button mat-raised-button color="warn" (click)="onDelete(post.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<div *ngIf="posts.length==0">
  <p class="infoText mat-body-1">No Posts Yet</p>
</div>
